// Video Hero Banner (VHB)
// Developer: Michael Spellacy (Spell), https://spellacy.net

// CMD/Terminal: sass --watch init.scss:init.css --style compressed

// Begin: Video Hero Banner

@keyframes heroBannerFade {

	0% {

		opacity: 0;

	}

	100% {

		opacity: 1;

	}

}

#hero-banner {
animation: heroBannerFade 300ms 600ms ease-in-out forwards;
background-color: black; // Change to whatever color you wish. This will bleed in from behind the sem--transparent video. Domminant color when video is paused.
margin: -1em -1em 0;
opacity: 0;
overflow: hidden;
padding-bottom: 66%;
position: relative;

	@media (min-width: 778px) {

		padding-bottom: 40%;

	}

	.hero-banner-heading {
	color: white;
	font-size: 5.5vw;
	font-weight: normal;
	line-height: 1.2;
	margin: 0;
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	z-index: 1;

		b {
		display: block;
		}

	}

	// Fallback Image

	&.hero-banner-active {

		#hero-banner-image {
		display: none;
		}

	}

}

#hero-banner-video, #hero-banner-image  {
left: 0;
opacity: 0.8; // Video is dark by default for improved legibility. Remove at own risk.
position: absolute;
top: 0;
transition: all 150ms ease-in-out;
width: 100%;

// TODO: Fade in video to avoid load pop in.

	.paused & {

		opacity: 0.6; // State change for when video is paused. Also improves legibility of foreground text.

	}

}

// Note: The pause button should _never_ be removed from the UI. This is an important accessibility feature.
// While script does make use of prefers-reduced-motion, we can't fully depend on it.

#hero-banner-button {
background-color: black;
background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADUAAABQAQMAAACDEa/aAAAABlBMVEUAAAD///+l2Z/dAAAAAXRSTlMAQObYZgAAABFJREFUKM9j+P//xygexQOFAVmQ2dAaCQcwAAAAAElFTkSuQmCC");
background-position: center;
background-repeat: no-repeat;
background-size: 25%;
border-radius: 5px;
border: 1px white solid;
bottom: 1.5vw;
height: 30px;
opacity: 0.5;
position: absolute;
right: 1.5vw;
transition: all 350ms ease-in-out;
width: 30px;
z-index: 1;

	#hero-banner:hover &, &:focus {

		opacity: 1;

	}

	.paused & {

		background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAE4AAABgAQMAAACJwtYYAAAABlBMVEUAAAD///+l2Z/dAAAAAXRSTlMAQObYZgAAAMdJREFUOMtF06FxxEAMhWGVkBJcimDK2hJUwpUSuPBKMFhgmNEYnG/2VpkYvF/oI/8IPfsy3QETTrhcrIAHTDibWA4DHjDhbGI5DDhgwtnEchhwwDecTSyDAQd8w9nE2uATDvi6SVd0RVd0RVd0pU58wgEvuJpYG/yBO3xBWDsM6OLkRfJ4hyEuF6eJCQ8Y4nLxY2LCDkNcLn5MTNhhu0llVDcTdtjE5eJl4i/s8CFqUP+VeMIOHyIzpLI6YYebuCS74Am/IdUfqsf2gxHDS4AAAAAASUVORK5CYII=");

	}

}

// End: Video Hero Banner
