// Accessible Background Video
// Developer: Michael "Spell" Spellacy, Developer: Michael "Spell" Spellacy. Twitter: @spellacy, GitHub: michaelspellacy

html {
box-sizing: border-box;
}

*, *:before, *:after {
box-sizing: inherit;
}

body {
font: normal normal normal 100%/1.8 "Open Sans", "Segoe UI", Tahoma, sans-serif;
margin: 0;
padding: 1em;
}

#hero-banner-heading {
color: white;
font-size: 6vw;
font-weight: normal;
line-height: 1.2;
position: absolute;
text-align: center;
top: 40%;
transform: translateY(-50%);
width: 100%;
z-index: 1;

	b {
	display: block;
	}

}

#hero-banner {
background: black;
height: auto;
margin: -1em -1em 0;
overflow: hidden;
padding-bottom: 40%;
position: relative;
}

#hero-banner-video  {
left: 0;
opacity: 0.6;
position: absolute;
top: 0;
transition: all 150ms ease-in-out;
width: 100%;

	.paused & {

		opacity: 0.4;

	}

}

#hero-banner-button {
background-color: black;
background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADUAAABQAQMAAACDEa/aAAAABlBMVEUAAAD///+l2Z/dAAAAAXRSTlMAQObYZgAAABFJREFUKM9j+P//xygexQOFAVmQ2dAaCQcwAAAAAElFTkSuQmCC");
background-position: center;
background-repeat: no-repeat;
background-size: 25%;
border-radius: 5px;
border: 0;
bottom: 2vw;
height: 35px;
opacity: 0.5;
position: absolute;
right: 2vw;
transition: all 350ms ease-in-out;
width: 35px;
z-index: 999;

	#hero-banner:hover &, &:focus {

		opacity: 1;

	}

	.active & {

		background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAE4AAABgAQMAAACJwtYYAAAABlBMVEUAAAD///+l2Z/dAAAAAXRSTlMAQObYZgAAAMdJREFUOMtF06FxxEAMhWGVkBJcimDK2hJUwpUSuPBKMFhgmNEYnG/2VpkYvF/oI/8IPfsy3QETTrhcrIAHTDibWA4DHjDhbGI5DDhgwtnEchhwwDecTSyDAQd8w9nE2uATDvi6SVd0RVd0RVd0pU58wgEvuJpYG/yBO3xBWDsM6OLkRfJ4hyEuF6eJCQ8Y4nLxY2LCDkNcLn5MTNhhu0llVDcTdtjE5eJl4i/s8CFqUP+VeMIOHyIzpLI6YYebuCS74Am/IdUfqsf2gxHDS4AAAAAASUVORK5CYII=");

	}

}
