// Video Hero Banner
// Developer: Michael "Spell" Spellacy, Developer: Michael "Spell" Spellacy. Twitter: @spellacy, GitHub: michaelspellacy

html {
box-sizing: border-box;
}

*, *:before, *:after {
box-sizing: inherit;
}

body {
font: normal normal normal 100%/1.8 "Open Sans", "Segoe UI", Tahoma, sans-serif;
margin: 0;
padding: 1em;
}

// Begin: Video Hero Banner

@keyframes heroBannerFade {

	0% {

		opacity: 0;

	}

	100% {

		opacity: 1;

	}

}

#hero-banner {
	opacity: 0;
	animation: heroBannerFade 300ms 600ms ease-in-out forwards;
background-color: black; // Change to whatever color you wish. This will bleed in from behind the video. Domminant color for when video is paused.
margin: -1em -1em 0;
overflow: hidden;
padding-bottom: 40%;
position: relative;

	.hero-banner-heading {
	color: white;
	font-size: 5.5vw;
	font-weight: normal;
	line-height: 1.2;
	position: absolute;
	text-align: center;
	top: 50%;
	margin: 0;
	transform: translateY(-50%);
	width: 100%;
	z-index: 1;

		b {
		display: block;
		}

	}

}

#hero-banner-video  {
left: 0;
opacity: 0.8; // Video is dark by default for improved legibility. Remove at own risk.
position: absolute;
top: 0;
transition: all 150ms ease-in-out;
width: 100%;

// TODO: Fade in video to avoid load pop in.

	.paused & {

		opacity: 0.3; // State change for when video is paused. Also improves legibility of foreground text.

	}

}

// Note: The pause button should never be removed from the UI. This is an important accessibility feature.
// While script does make use of prefers-reduced-motion, we can't fully depend on it.

#hero-banner-button {
background-color: black;
background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADUAAABQAQMAAACDEa/aAAAABlBMVEUAAAD///+l2Z/dAAAAAXRSTlMAQObYZgAAABFJREFUKM9j+P//xygexQOFAVmQ2dAaCQcwAAAAAElFTkSuQmCC");
background-position: center;
background-repeat: no-repeat;
background-size: 25%;
border-radius: 5px;
border: 0;
bottom: 2vw;
height: 30px;
opacity: 0.5;
position: absolute;
right: 2vw;
width: 30px;
z-index: 1;

	#hero-banner:hover &, &:focus {

		opacity: 1;
		transition: all 350ms ease-in-out;

	}

	.paused & {

		background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAE4AAABgAQMAAACJwtYYAAAABlBMVEUAAAD///+l2Z/dAAAAAXRSTlMAQObYZgAAAMdJREFUOMtF06FxxEAMhWGVkBJcimDK2hJUwpUSuPBKMFhgmNEYnG/2VpkYvF/oI/8IPfsy3QETTrhcrIAHTDibWA4DHjDhbGI5DDhgwtnEchhwwDecTSyDAQd8w9nE2uATDvi6SVd0RVd0RVd0pU58wgEvuJpYG/yBO3xBWDsM6OLkRfJ4hyEuF6eJCQ8Y4nLxY2LCDkNcLn5MTNhhu0llVDcTdtjE5eJl4i/s8CFqUP+VeMIOHyIzpLI6YYebuCS74Am/IdUfqsf2gxHDS4AAAAAASUVORK5CYII=");

	}

}

// End: Video Hero Banner
